h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
h1 {
  font-family: "Gochi Hand", cursive;
  width: max-content;
  color: red;
  font-weight: bolder;
}
h2,
h3,
h4 {
  font-family: "Merienda One", cursive;
  transition: all 150ms ease-in-out;
  margin: 20px;
}
h3:hover {
  font-size: 30;
  color: blue;
  cursor: pointer;
}
h4:hover {
  color: blue;
  font-weight: 700;
  cursor: pointer;
}
h5 {
  margin: 20px 10px;
}
.container {
  text-align: center;
  background: white;
  width: 100%;
  position: relative;
}

.more {
  display: block;
  text-align: center;
  margin-left: 20;
}
.btn btn-primary {
  display: block;
  margin: 0 auto;
}
.card-text {
  text-align: center;
}
